<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test">

 <test name="GradeupTest">
 <parameter name="browser" value="Chrome"/> 
 <parameter name="url" value="https://www.gradeup.co/"/>
 <classes>
  
 <class name="Test.GradeupTest" />
 </classes>
 </test>
</suite>